@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Playfair+Display:ital,wght@1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #fafafa;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #4e54c8, #3f2b96);
  border-radius: 60px;
}
.navbar-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  display: block;
  width: 100%;
  height: 2px;
  transform: scale(0);
  transition: 0.5s;
}
.navbar-item:hover:before {
  transform: scale(1);
}
.hero-container {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.95);
}
.typewriter .Typewriter span {
  font-family: "Playfair Display", serif !important;
}
.sticky-nav {
  @apply bg-white text-black shadow-lg;
}
.sticky-nav .logo {
  @apply text-primary-color;
}
.sticky-nav .navbar-item:hover {
  @apply text-primary-color;
}
.sticky-nav .navbar-item:hover:before {
  @apply bg-primary-color;
}
.slick-list {
  margin: 0 -5px;
}
.slick-slide > div {
  padding: 0 5px;
}
.slick-prev{
  left: -14px;
}
.slick-next{
  right: -14px;
}
